{% extends 'base.html.twig' %}

{% block body %}
  <h1>Customer</h1>

  <table>
    <tbody>
    <tr>
      <th>Id</th>
      <td>{{ customer.Id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ customer.Name }}</td>
    </tr>
    <tr>
      <th>BirthDate</th>
      <td>{{ customer.BirthDate }}</td>
    </tr>
    <tr>
      <th>IsYoungDrive</th>
      <td>{{ customer.IsYoungDrive }}</td>
    </tr>
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('customer_index') }}">Back to the list</a>
    </li>
  </ul>
{% endblock %}